@-moz-document url(chrome://browser/content/browser.xhtml){

/* Hide tabs when just one */
:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }
#TabsToolbar{ min-height: 0px !important }

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}

.accessibility-indicator,
.private-browsing-indicator{
  height: unset !important;
}
.accessibility-indicator > hbox{ padding-block: 0 !important }

#tabbrowser-tabs .tabbrowser-tab{ height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px)) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}

/* Button re-styling */
#tabs-newtab-button{ transform: scale(0.8); }
#tabs-newtab-button:hover{
  background-color: var(--toolbarbutton-hover-background);
  border-radius: var(--tab-border-radius);
}

#tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.5);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
@media  (-moz-platform: windows),
        (-moz-os-version: windows-win7),
        (-moz-os-version: windows-win10){
  :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox{
    padding-top:7px !important;
  }
}
/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
:where(#nav-bar){
  border-inline: var(--uc-window-drag-space-width,0) solid var(--toolbar-bgcolor);
}


/* This style hides the main toolbar and shows it when the cursor is over the tabs toolbar as well as whenever the focus is inside nav-bar, such as when urlbar is focused. */

:root{ --uc-navbar-transform: -40px }
:root[uidensity="compact"]{ --uc-navbar-transform: -34px }

:root[sessionrestored] :where(#nav-bar,#PersonalToolbar,#tab-notification-deck){
  transform: translateY(var(--uc-navbar-transform))
}

:root:is([customizing],[chromehidden*="toolbar"]) :where(#nav-bar,#PersonalToolbar,#tab-notification-deck){
  transform: none !important;
  opacity: 1 !important;
}

#nav-bar:not([customizing]){
  opacity: 0;
  transition:  transform 50ms ease 1.8s, opacity 50ms ease 1.8s !important;
  position: relative;
  z-index: 2;
}
#TabsToolbar{ position: relative; z-index: 3 }

/* Show when toolbox is focused, like when urlbar has received focus */
#navigator-toolbox:focus-within > .browser-toolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 50ms, 50ms !important;
  transition-delay: 0s !important;
}
/* Show when toolbox is hovered */
#titlebar:hover ~ .browser-toolbar,
#nav-bar:hover,
#nav-bar:hover + #PersonalToolbar{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 50ms, 50ms !important;
  transition-delay: 0s !important;
}

/* Bookmarks toolbar needs so extra rules */
#PersonalToolbar{ transition: transform 50ms ease 1.8s !important; position: relative; z-index: 1 }

/* Move up the content view */
:root[sessionrestored]:not([inFullscreen]) > body > #browser{ margin-top: var(--uc-navbar-transform); }

